


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(247, 223, 238), rgb(228, 165, 207), rgb(228, 98, 178), rgb(170, 24, 138));
    text-align: center;
    color: rgb(14, 13, 13);
    
}

.texto 
img {
    border-radius: 80px;
}

.link
img{
    width: 45px;
    border-radius: 100px;
    border: 0;
    display: inline-block;
    
}

